.entete {
    background-color: #33C4FF;
    height: 150px;
}

.corps {
    background-color: #FF8D33;
    height: 400px;
}

.menu {
    float: left;
    height: 400px;
    width: 100px;
}

.menuhaut {
    background-color: #FF6699;
    height: 200px;
    width: 100px;
}

.menubas {
    background-color: #9CFF33;
    height: 200px;
    width: 100px;
}

.footer {
    background-color: #FFE933;
    height: 150px;
}

.bloack {
    background-color: #8A33FF;
    height: 250px;
    width: 150px;
}